*{
    box-sizing: border-box;
}
header, footer{
    margin: -8px;
}
body{
    font-size: 1.5em;
    font-family:cursive;
    background-image:linear-gradient(rgba(101, 128, 172, 0.7),rgba(193, 196, 201,0.7)), url(https://images.unsplash.com/photo-1555066931-4365d14bab8c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y29kaW5nfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 900;
    text-decoration: underline;
    padding-bottom: 5px;
}
a:hover{
    color:rgb(9, 55, 82);
}
header{
    position:sticky;
    top:0;
    padding: 10px 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(166, 171, 209);
}
#header-img{
    width:8vw;
    height: 8vw;
    background-color: rgb(253, 246, 232);
    border-radius: 50%;
}
#nav-bar{
   width:35vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.9em;
    
}
#main{
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}

#hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.8em;
}
h1{
    text-align: center;
    font-size: 2em;
}
#hero input[type='email'] {
    max-width: 375px;
    width: 100%;
    padding: 5px;
    font-family: cursive;
}
#hero input[type='submit'] {
    width: fit-content;
    margin: 15px 0;
    font-size: 0.7em;
    padding: 8px 10px;
}
#features{
    margin: 70px 0;
}
li{
    /* margin: 1rem; */
	padding: 36px 0 36px 84px;
	list-style: none;
	background-image: url(pointer.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
}
.v{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
iframe{
   width: 33%;
   height: 315px;
    margin: 10px;
}
#container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 70px auto;
}
.a{
    display: flex;
  flex-direction: column;
  align-items: center;
    width:33%;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    text-align: center;
   position: relative;
   background-color: rgba(157, 175, 179, 0.6);
}
span{
   display: block;
    background-color: rgb(219, 215, 215, 0.5);
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
font-size: 1.5em;
}
.des{
    line-height: 1.5em;
    margin: 30px 0 95px 0;
    font-size: 1.16em;
   
}
button{
    margin-bottom: 15px;
    position: absolute;
    bottom: 0;
    font-size: 1.2em;
}
footer{
    display: flex;
  justify-content: center;
  background-color: rgb(93, 99, 112);
  padding: 15px;
}
#fr{
    width:35vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
input[type="submit"],button{
background-color: rgb(153, 16, 11);
cursor:pointer;
font-family: cursive;
color: white;
text-align: center;
padding:0 7px;
}
input[type="submit"]:hover, button:hover{
    box-shadow: 0 0.5em 0.5em -0.4em rgb(32, 31, 31);
    transform: translateY(-0.25em) translateZ(-0.25em);
}
@media (max-width:671px){
h1{
    font-size: 1.7em;
}
}
@media(max-width:567px){
h1{
    font-size: 1.3em;
}
}
@media (max-width: 550px) {
    li {
     background-image: none;
        width: 100%;
        text-align: center;
        padding: 0;
        font-size:0.8em;
        margin: auto;
      }
  }
  @media (max-width:1071px){
    #nav-bar{
        flex-direction: column;
        justify-content: space-around;
        width: fit-content;
        font-size: 0.8em;
    }
    #header-img{
        width: 15vw;
        height: 15vw;
    }
    }
    @media(max-width:960px){
        .v, #container, #fr{
            flex-direction: column;
        }
        iframe, .a{
            max-width: 90%;
    width: 100%;
    margin: 20px auto;
        }
        #fr{
            width: fit-content;
        }
    }
    @media(max-width:450px){
        #nav-bar{
            font-size: 0.5em;
        }
    }